#newProduct{
    width: 500px;
    height: 80px;
    background-color: lightgrey;
}

#newProductBox{
    width: 400px;
    height: 40px;
    background-color: white;
    margin-left: 20px;
}

#addButton{
    width: 80px;
    height: 40px;
    background-color: lightseagreen;
}
#productQuantity{
    cellspacing: lightgrey;
}
#productBoard{
    border-collapse: collapse;
    width: 1000px;
}
#productBoard tr:nth-child(even) {
    background: lightgrey;
}

#productBoard tr:nth-child(odd) {
    background: wheat;
}
#productBoard td{
    width: 80px ;
}
.editButton{
    width: 80px;
    height: 50px;
    background-color: lightseagreen;
}
.deleteButton{
    width: 80px;
    height: 50px;
    background-color: lightseagreen;
}

#productBoard tr{
    height: 80px;
    background-color: gray;
}
#productBoard:nth-child(even) {
    background-color: white;
}